
body {
	height: 90vh;
}

#wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100%;
}

.view {
	display: flex;
	flex-direction: column;
	padding: 1em;
}
#preview {
	flex-grow: 1;
	background: #eee;
	border: none;
	border-radius: 7px;
	padding: 10px;
}
textarea {
	flex-grow: 1;
	background:#333;
	color: white;
	border: none;
	border-radius: 7px;
	padding: 10px;
}